# 5. 자료 구조

## 5.1 리스트 더 보기

In [34]:
# 리스트 메서드
list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [35]:
list.append(6)
list

[1, 2, 3, 4, 5, 6]

In [36]:
list[len(list):] = [6]
list

[1, 2, 3, 4, 5, 6, 6]

In [37]:
list[3:]

[4, 5, 6, 6]

In [38]:
a=[8,9,10]
list.extend(a)
list

[1, 2, 3, 4, 5, 6, 6, 8, 9, 10]

In [39]:
list.insert(6,7)
list

[1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]

In [40]:
list.remove(10)
list

[1, 2, 3, 4, 5, 6, 7, 6, 8, 9]

In [41]:
list.pop(0)
# 인덱스를 입력하지 않으면 마지막 항목

1

In [42]:
list 
# 삭제 후 돌려줌

[2, 3, 4, 5, 6, 7, 6, 8, 9]

In [ ]:
list.clear
list

# 전부 삭제 del list[:] 와 같음

In [43]:
list.index(4)

# 원하는 값이 처음 등장하는 인덱스를 돌려줌

2

In [44]:
list.index(7,2,6)

# 전체 리스트 중 [2:6]안에 있는 5 값의 인덱스(전체리스트 기준)를 돌려줌

5

In [45]:
list.count(5)

# 5가 등장하는 횟수

1

In [46]:
list.sort()
list

[2, 3, 4, 5, 6, 6, 7, 8, 9]

In [47]:
list.reverse()
list

[9, 8, 7, 6, 6, 5, 4, 3, 2]

In [48]:
list.copy()

# a[:] 와 같음

[9, 8, 7, 6, 6, 5, 4, 3, 2]

In [49]:
# 예시
fruits = ['orange','apple','pear','banana','kiwi','apple','banana']

In [50]:
fruits.count('apple')

2

In [51]:
fruits.count('tangerine')

0

In [52]:
fruits.index('banana')

3

In [53]:
fruits.index('banana',4)

# 4번째 인덱스 이후

6

In [54]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [55]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [56]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [57]:
fruits.pop()

'pear'

In [58]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

#### 5.1.1 리스트를 스택으로 사용하기

In [60]:
# 스택: 
# 한쪽 끝에만 자료를 넣거나 뺄 수 있는 선형 구조
# 마지막에 넣은 요소가 처음으로 꺼내지는 요소

stack=[3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [61]:
stack.pop()

7

In [62]:
stack

[3, 4, 5, 6]

In [63]:
stack.pop()

6

In [64]:
stack.pop()

5

In [65]:
stack

[3, 4]

#### 5.1.2 리스트를 큐로 사용하기

In [67]:
# 큐:
# 줄 세우는 것
# 처음에 넣은 요소가 처음으로 꺼내진다.  
# 리스트는 머리에 덧붙이거나 꺼내는것이 느리기 때문에 적합하지 않음 다른요소들을 한칸씩
# 이동시켜야 하기 때문
# 양 끝에서 덧붙이고 꺼내기가 가능한 collections.deque를 사용

from collections import deque
queue = deque(["Eric","John","Michael"])
queue.append("Terry")
queue.append("Graham")
queue.popleft() #처음 넣은 요소를 지우고 돌려줌
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [68]:
queue.pop()

'Graham'

In [69]:
queue

deque(['John', 'Michael', 'Terry'])

#### 5.1.3 리스트 컴프리헨션

In [1]:
# 각 요소가 다른 시퀀스나 이터러블 멤버에 어떤 연산을 적용한 결과이거나 어떤 조건을 만족하는 경우

squares =[]
for x in range(10):
  squares.append(x**2)

squares

# x는 루프가 종료된 후에도 남아있음

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# 더 간결한 방법

squares = list(map(lambda x:x**2, range(10)))

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# 더 더 간결한 방법

squares = [x**2 for x in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# 리스트 컴프리헨션
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [5]:
# 이것과 같음

combs = []
for x in [1,2,3]:
  for y in [3,1,4]:
    if x!=y:
      combs.append((x,y))

combs

# 위에 와 for문, if문 순서가 같음

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [6]:
# 표현식이 튜플이면 괄호를 둘러싸야 한다.

vec = [-4,-2,0,2,4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [7]:
[x for x in vec if x>=0]

[0, 2, 4]

In [8]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [9]:
freshfruit = ['  banana',' loganberry ','passion fruit  ']

In [10]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [11]:
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [12]:
[x,x**2 for x in range(6)]

SyntaxError: did you forget parentheses around the comprehension target? (2717233762.py, line 1)

In [13]:
vec = [[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

# vec안에 있는 elem을 num형태로 뽑아올건데 그 num은 elem의 아이템들이다
# [abs(x) for x in vec]에서 num = abs(x) 이고 앞에서 부터 해석
# num for elem in vec // for num in elem

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

# pi를 1~6 소수점 자리까지 문자열로

['3.1', '3.14', '3.142', '3.1416', '3.14159']

#### 5.1.4 중첩된 리스트 컴프리헨션

In [18]:
from numpy import matrix


matrix = [
  [1,2,3,4],
  [5,6,7,8],
  [9,10,11,12],
]

matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [19]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [21]:
transposed = []
for i in range(4):
  transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [22]:
transposed = []
for i in range(4):
  transposed_row=[]
  for row in matrix:
    transposed_row.append(row[i])
  transposed.append(transposed_row)

transposed

# i는 0~3 까지 돌고 matrix의 리스트들을 순서대로 i번째 값만 transposed_row에 추가
# 리스트들의 i번째 값을 모두 뽑아내서 transposed_row에 넣었으면 transposed_row를 transposed에 추가
# i를 0~3 까지 반복 -> 열은 3개 행은 4개인 행렬

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [23]:
list(zip(*matrix))

# zip() 은 행과 열을 바꿔주는 함수
# *는 언패킹

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [28]:
a =[-1,1,66.25,333,333,1234.5]

In [29]:
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [30]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [31]:
del a[:]
a

[]

In [32]:
del a

In [33]:
# 튜플은 쉼표로 구분되는 여러 값

t = 12345,54321,'hello!'
t[0]

12345

In [34]:
t

(12345, 54321, 'hello!')

In [35]:
u=t,(1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [36]:
# 튜플은 불변 (immutable)
t[0]=8888

TypeError: 'tuple' object does not support item assignment

In [37]:
# 가변값(리스트 등)을 포함할수는 있음
v=([1,2,3],[3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [39]:
v[0][0]=0
v

([0, 2, 3], [3, 2, 1])

In [40]:
# 빈 튜플은 빈 괄호 쌍
# 하나의 항목은 값 뒤에 쉼표를 붙여서

empty=()
singleton = 'hello',
len(empty)

0

In [41]:
len(singleton)

1

In [42]:
singleton

('hello',)

In [44]:
#  t = 12345, 54321, 'hello!' 는 튜플 패킹
# 반대도 가능 -> 시퀀스 언 패킹 
t

(12345, 54321, 'hello!')

In [45]:
# 변수의 개수가 시퀀스 요소들의 개수와 같아야 함
# 다중 대입은 튜플 패킹과 시퀀스 언패킹의 조합
x,y,z=t
t

(12345, 54321, 'hello!')

In [46]:
x

12345

## 5.4 집합

In [47]:
# 중복과 순서가 없음
# 새로 만들 때는 중괄호나 set() 사용
# 빈 집합은 set() {}는 빈 딕션너리

basket ={'apple','orange','apple','pear','orange','banana'}
print(basket)

{'apple', 'banana', 'orange', 'pear'}

In [48]:
"orange" in basket

True

In [49]:
'crabgrass' in basket

False

In [1]:
a = set('abracadabra')
b = set('salacazam')

In [2]:
a 
# 중복 없음

{'a', 'b', 'c', 'd', 'r'}

In [3]:
b

{'a', 'c', 'l', 'm', 's', 'z'}

In [4]:
a-b

{'b', 'd', 'r'}

In [5]:
a|b
# 합집합

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 's', 'z'}

In [6]:
a&b

{'a', 'c'}

In [7]:
a^b
# 합집합-교집합

{'b', 'd', 'l', 'm', 'r', 's', 'z'}

In [8]:
# 집합 컴프리헨션도 지원됩니다.
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## 5.5 딕셔너리

In [9]:
tel = {'jack':4098, 'sape':4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [10]:
del tel['sape']
tel['irv']=4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [11]:
list(tel)

['jack', 'guido', 'irv']

In [12]:
sorted(tel)

['guido', 'irv', 'jack']

In [13]:
'guido' in tel

True

In [14]:
'jack' not in tel

False

In [15]:
dict([('sape',4239),('guido',4127),('jack',4098)])

{'sape': 4239, 'guido': 4127, 'jack': 4098}

In [16]:
{x: x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [17]:
dict(sape=4139, guido=4127, jack=4098)
# 키워드 인자 사용해서 쌍을 지정

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## 5.6 루프 테크닉

In [20]:
knights = {'gallahad':'the pure','robin':'the brave'}
for k, v in knights.items():
  print(k,v)

# k는 key v는 value

gallahad
robin

In [21]:
for i, v in enumerate(['tic','tac','toc']):
  print(i,v)

# 인덱스와 함께

0 tic
1 tac
2 toc

In [23]:
questions = ['name','quest','facorite color']
answers = ['lancelot','the holy grail','blue']
for q,a in zip(questions, answers):
  print('what is your {}? It is {}.'.format(q,a))

  # zip은 개수가 가장 작은 이터러블이 끝나면 끝

what is your name? It is lancelot.
what is your quest? It is the holy grail.
what is your facorite color? It is blue.

In [24]:
for i in reversed(range(1,10,2)):
  print(i)

  # 역방향 루핑

9
7
5
3
1

In [25]:
basket = ['apple','orange','apple','pear','orange','banana']
for i in sorted(basket):
  print(i)

# 정렬된 리스트

apple
apple
banana
orange
orange
pear

In [26]:
basket = ['apple','orange','apple','pear','orange','banana']
for f in sorted(set(basket)):
  print(f)

# 정렬된 고유한 요소

apple
banana
orange
pear

In [28]:
import math
raw_data = [56.2,float('NaN'),57.7,55.3,52.5,float('NaN'),47.8]
filtered_data = []
raw_data

[56.2, nan, 57.7, 55.3, 52.5, nan, 47.8]

In [29]:
for value in raw_data:
  if not math.isnan(value):
    filtered_data.append(value)

filtered_data

[56.2, 57.7, 55.3, 52.5, 47.8]

## 5.7. 조건 더 보기

In [32]:
string1,string2,string3 = '','Trondheim','Hammer Dance'
non_null = string1 or string2 or string3
non_null

# 왼쪽에서 오른쪽으로 값이 구해지고, 결과가 결정되자마자 값 구하기는 중단
# A and not B or C 는 (A and (not B)) or C 와 동등

'Trondheim'

## 5.8. 시퀀스와 다른 형들을 비교하기

In [33]:
(1, 2, 3) < (1, 2, 4)

True

In [34]:
[1, 2, 3] < [1, 2, 4]

True

In [35]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [36]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [37]:
(1, 2) < (1, 2, -1)

True

In [38]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [39]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True